body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#xmleditor { 
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        margin-top: 90px;
        box-sizing: border-box;
}

#xpatheditor { 
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 50%;
        margin-top: 90px;
        box-sizing: border-box;
}

#outputdisplay { 
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;
        box-sizing: border-box;
}

#divactions{
    height: 25px;
}