@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div id="divactions">
        <button onclick="executeXpath();">Run</button>
    </div>
    <div id="xmleditor"></div>
    <div id="xpatheditor"></div>
    <div id="outputdisplay"></div>
    @*<div class="col-md-6">
        <div id="xpatheditor"></div>
    </div>*@
</div>
<div class="row">
    <span id="status">Ready.</span>
</div>

@section scripts {
    @*<script src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js" type="text/javascript"></script>*@
    @*<script src="//cdn.jsdelivr.net/ace/1.2.3/min/ace.js" type="text/javascript" charset="utf-8"></script>*@
    <script src="~/Scripts/Ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/main.js" type="text/javascript" charset="utf-8"></script>
}